body {
  margin: 30px 40px;
}

.headerImg {
  background-image: url("../images/Header.jpg");
  margin-top: 60px;

  min-height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.topNav {
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: white;

  height: 50px;
}
.leftSide {
  margin-right: auto;
}

.rightSide {
  margin-left: auto;
}

#airPlane {
  margin-right: 10px;
  color: gray;
}

a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

a:hover {
  color: gray;
}

#airPlane.animate {
  animation-duration: 8s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}

@keyframes slidein {
  0% {
    margin-left: 0%;
  }
  50% {
    margin-left: 300px;
  }
  100% {
    margin-left: 0%;
  }
}

#travelBlog {
  position: absolute;
  bottom: 0%;
  left: 37%;
  width: 200px;
  font-size: 70px;
  color: white;
}

main {
  margin-top: 120px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 3em;
  flex-wrap: wrap;
}

div {
  text-align: center;
  position: relative;
}
img {
  width: 200px;
  display: block;
  transition: opacity 0.3s;
}

.cityLink {
  position: relative;
  display: inline-block;

  color: black;
}

.cityLink img {
  margin-bottom: 10px;
}

.cityLink::before {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s;
}

.cityLink:hover img {
  opacity: 0.7;
}
p {
  font-size: 12px;
  color: black;
  text-align: center;
}

#myMapBox {
  width: 400px;
  height: 350px;

  margin: auto;
}

.footer {
  margin-top: 80px;
  left: 0;
  bottom: 0;
  width: 100%;

  text-align: center;
}
@media screen and (max-width: 600px) {
  body {
    margin: 2px 10px;
  }
  .headerImg {
    background-image: url("../images/Header.jpg");
    margin-top: 40px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  #travelBlog {
    position: absolute;
    bottom: 0%;
    left: 20%;
    width: 200px;
    font-size: 70px;
    color: white;
  }

  main {
    margin-top: 40px;
    margin-bottom: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1em;
    flex-wrap: wrap;
  }
  a {
    text-decoration: underline;
  }
  #myMapBox {
    width: 300px;
    height: 250px;

    margin: auto;
  }
}
